In [23]:
import pandas as pd
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [24]:
df.info() #tipo de cada coluna e verificação de valores nulos
df.describe() #estatísticas básicas
df.isnull().sum() #verifica contagem de valores nulos por coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [25]:
df = df.drop('id', axis = 1) #remove coluna id
df['bmi'] = df['bmi'].fillna(df['bmi'].median()) #preenche valores vazios de bmi com mediana
df = pd.get_dummies(df, columns = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status'])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             5110 non-null   float64
 1   hypertension                    5110 non-null   int64
 2   heart_disease                   5110 non-null   int64
 3   avg_glucose_level               5110 non-null   float64
 4   bmi                             5110 non-null   float64
 5   stroke                          5110 non-null   int64
 6   gender_Female                   5110 non-null   bool
 7   gender_Male                     5110 non-null   bool
 8   gender_Other                    5110 non-null   bool
 9   ever_married_No                 5110 non-null   bool
 10  ever_married_Yes                5110 non-null   bool
 11  work_type_Govt_job              5110 non-null   bool
 12  work_type_Never_worked          5110 non-null   bool
 13  work_type_Private               5110 non-null   bool
 14  work_type_Self-employed         5110 non-null   bool
 15  work_type_children              5110 non-null   bool
 16  Residence_type_Rural            5110 non-null   bool
 17  Residence_type_Urban            5110 non-null   bool
 18  smoking_status_Unknown          5110 non-null   bool
 19  smoking_status_formerly smoked  5110 non-null   bool
 20  smoking_status_never smoked     5110 non-null   bool
 21  smoking_status_smokes           5110 non-null   bool
dtypes: bool(16), float64(3), int64(3)
memory usage: 319.5 KB

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,False,True,False,False,...,False,True,False,False,False,True,False,True,False,False
1,61.0,0,0,202.21,28.1,1,True,False,False,False,...,False,False,True,False,True,False,False,False,True,False
2,80.0,0,1,105.92,32.5,1,False,True,False,False,...,False,True,False,False,True,False,False,False,True,False
3,49.0,0,0,171.23,34.4,1,True,False,False,False,...,False,True,False,False,False,True,False,False,False,True
4,79.0,1,0,174.12,24.0,1,True,False,False,False,...,False,False,True,False,True,False,False,False,True,False

In [26]:
bool_cols = df.select_dtypes(include = ['bool']).columns #identifica as colunas bool
df[bool_cols] = df[bool_cols].astype(int) #converte bool pra int
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             5110 non-null   float64
 1   hypertension                    5110 non-null   int64
 2   heart_disease                   5110 non-null   int64
 3   avg_glucose_level               5110 non-null   float64
 4   bmi                             5110 non-null   float64
 5   stroke                          5110 non-null   int64
 6   gender_Female                   5110 non-null   int64
 7   gender_Male                     5110 non-null   int64
 8   gender_Other                    5110 non-null   int64
 9   ever_married_No                 5110 non-null   int64
 10  ever_married_Yes                5110 non-null   int64
 11  work_type_Govt_job              5110 non-null   int64
 12  work_type_Never_worked          5110 non-null   int64
 13  work_type_Private               5110 non-null   int64
 14  work_type_Self-employed         5110 non-null   int64
 15  work_type_children              5110 non-null   int64
 16  Residence_type_Rural            5110 non-null   int64
 17  Residence_type_Urban            5110 non-null   int64
 18  smoking_status_Unknown          5110 non-null   int64
 19  smoking_status_formerly smoked  5110 non-null   int64
 20  smoking_status_never smoked     5110 non-null   int64
 21  smoking_status_smokes           5110 non-null   int64
dtypes: float64(3), int64(19)
memory usage: 878.4 KB

In [27]:
from sklearn.model_selection import train_test_split
x = df.drop('stroke', axis = 1) #matriz de caracteristicas
y = df['stroke'] #resultado
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.2, random_state = 6) #separa 80% dos dados para treino e 20% para teste
print(f"Pacientes no treino: {x_treino.shape[0]}")
print(f"Pacientes no teste: {x_teste.shape[0]}")

Pacientes no treino: 4088
Pacientes no teste: 1022

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
modelo = DecisionTreeClassifier(random_state = 6, class_weight = 'balanced') #cria o modelo
modelo.fit(x_treino, y_treino) #treina o modelo
previsoes = modelo.predict(x_teste) #testa o modelo
print("Acerto:", accuracy_score(y_teste, previsoes))
print("\nRelatório Detalhado:\n", classification_report(y_teste, previsoes))

Acerto: 0.9207436399217221

Relatório Detalhado:
               precision    recall  f1-score   support

           0       0.96      0.96      0.96       971
           1       0.16      0.14      0.15        51

    accuracy                           0.92      1022
   macro avg       0.56      0.55      0.55      1022
weighted avg       0.92      0.92      0.92      1022

In [29]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\roniv\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: numpy<3,>=1.25.2 in c:\users\roniv\anaconda3\lib\site-packages (from imbalanced-learn) (2.3.5)
Requirement already satisfied: scipy<2,>=1.11.4 in c:\users\roniv\anaconda3\lib\site-packages (from imbalanced-learn) (1.16.3)
Requirement already satisfied: scikit-learn<2,>=1.4.2 in c:\users\roniv\anaconda3\lib\site-packages (from imbalanced-learn) (1.7.2)
Requirement already satisfied: joblib<2,>=1.2.0 in c:\users\roniv\anaconda3\lib\site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\roniv\anaconda3\lib\site-packages (from imbalanced-learn) (3.5.0)

In [32]:
from imblearn.over_sampling import SMOTENC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

#identificar categorias
categorias = []
for i, col in enumerate(x_treino.columns):
    if x_treino[col].nunique() <= 2: #se a coluna for binaria ou for int
        categorias.append(i)

smotenc = SMOTENC(categorical_features = categorias, random_state = 6) #não quebra os valores de categorias
x_treino_blc, y_treino_blc = smotenc.fit_resample(x_treino, y_treino)

#verificação
print(f"Antes: {y_treino.value_counts().to_dict()}")
print(f"Depois: {y_treino_blc.value_counts().to_dict()}")

modelo_rf = RandomForestClassifier(n_estimators = 100, class_weight = 'balanced', random_state = 6) #cria floresta com 100 árvores
modelo_rf.fit(x_treino_blc, y_treino_blc) #treina a floresta
previsoes_rf = modelo_rf.predict(x_teste) #testa os dados originais

probabilidades = modelo_rf.predict_proba(x_teste)
chance_avc = probabilidades[:, 1] #pega a coluna 1
limiar = 0.09 #novo limite
novas_previsoes = (chance_avc >= limiar).astype(int)

print("Acurácia:", accuracy_score(y_teste, novas_previsoes)) 
print("\nRelatório:\n", classification_report(y_teste, novas_previsoes))

Antes: {0: 3890, 1: 198}
Depois: {0: 3890, 1: 3890}
Acurácia: 0.662426614481409

Relatório:
               precision    recall  f1-score   support

           0       0.99      0.65      0.79       971
           1       0.12      0.86      0.20        51

    accuracy                           0.66      1022
   macro avg       0.55      0.76      0.49      1022
weighted avg       0.95      0.66      0.76      1022